# ==========================================
# GITIGNORE PARA SARENV-MTS
# ==========================================

# 1. Archivos y carpetas pesadas no deseadas
*.zip
SAREnv/sarenv_dataset/
SAREnv/resultados_casa_de_campo*/
SAREnv/cache/
SAREnv/data/
SAREnv/results/
SAREnv/TFM_JC/

# 2. Resultados pesados de backups no necesarios
**/resultados_backup_originales/
**/resultados_high_budget/
**/resultados_high_budget_backup_originales/
**/resultados_ext/
**/resultados_opt/
**/scratch/
framwork-MTS/*/pruebas_test/
framwork-MTS/MTS-UncertainEnvironment-Algoritmos-bioinspirados/resultados/
framwork-MTS/*/TFG_*/Resultados/
framwork-MTS/*/TFG_*/mission_data/
framwork-MTS/*/TFG_*/TFG_Romeo/

# 3. Entornos Virtuales
tfm/
venv/
env/
.env/
.venv/
SAREnv/tfm/

# 4. Python & Build Caches
__pycache__/
*.py[cod]
*.class
*.egg-info/
.pytest_cache/
.coverage
.cache
cache/

# 5. Editores y Jupyter
.vscode/
.idea/
.ipynb_checkpoints/
.DS_Store
Thumbs.db
